venv/
*pyc
.idea/
__pycache__/
instance/
web/isocket/static/.webassets-cache/
web/isocket/static/js/lib
web/isocket/static/css/lib
web/isocket/static/uploads
unit_tests/tests.db
.gitignore
web/settings.json