<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div>
        <h1>Overview</h1>
        The Atlas of Coiled Coils is a fully automated, updated overview of extant coiled coils.
        <br>
        <br>
        Coiled coils are categorised using graph theory.
        <br>
        Each helix in the coiled coil is represented by a node.
        <br>
        Helices that interact via knob-into-hole interactions are joined by an edge.
        <br>
        This gives the graph of the coiled coil: those with the same graphs belong to the same category.
        <br>
        <br>
        <br>
        <h1>Parameters</h1>
        The SOCKET cutoff (<i>scut</i>):
        <br>
        The maximum distance between the centre of mass of a knob residue and those for each of the hole residues
        <br>
        <br>
        The knob cutoff (<i>kcut</i>):
        <br>
        There must be more than <i>kcut</i> knob-into-hole interactions between each pair of helices defined to be interacting.

    </div>
</body>
{% endblock %}
</html>