<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    The Atlas of Coiled Coils is a fully automated, updated overview of extant coiled coils.
    <br>
    It also provides a glimpse at the 'dark matter' of coiled coils:
    those arrangements for which there currently are have no extant examples
    but which may be accessible through <i>de novo</i> design.
    <br>
    <br>
    The original publications and source code for the Atlas of Coiled Coils and for ISAMBARD are available
    <a href="{{ url_for('home_bp.reference') }}">here</a>.
    <br>
    There are tutorials for working with the Atlas data and source code avialable here:
    <a href="https://github.com/woolfson-group/isocket/wiki">https://github.com/woolfson-group/isocket/wiki</a>.
</body>
{% endblock %}
</html>