<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <p>
        For general queries, please email
        <a href="mailto:d.n.woolfson@bristol.ac.uk?Subject=iSocket%20query" target="_top">
            Professor Dek Woolfson.</a>
    </p>
    <div>
      <img style="vertical-align:middle" src="{{ url_for('home_bp.static', filename = 'img/GitHub-Mark-64px.png') }}">
      <a href="https://github.com/jackheal">https://github.com/jackheal</a>
    </div>
</body>
{% endblock %}
</html>