<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="imgAbt">
                    <img src="{{ url_for('home_bp.static', filename = 'img/isocket_logo.png') }}" width="100%" height="100%">
                </div>
            </div>
            <div class="col-md-6">
                <h1>iSocket</h1>
                <p>
                    iSocket is a set of computational tools written in Python as an add-on to the
                    <a href="https://github.com/woolfson-group/isambard">ISAMBARD</a> software suite.
                    <br>
                    <br>
                    The core algortihm of the original
                    <a href="http://coiledcoils.chm.bris.ac.uk/socket/">Socket</a>
                    programme for detecting knob-into-hole
                    interactions within protein structures has been implemented in this new framwork.
                    <br>
                    <br>
                    Further, a number of features has been added for interrogating these interactions in detail.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
</html>