<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon-eye.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%  if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>iSOCKET</title>
    {%  endif %}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename = 'css/lib/sticky-footer-navbar.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">iSocket</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
        <li><a href="{{ url_for('upload_file') }}"><span class="glyphicon glyphicon-eye-open"></span> Run</a></li>
        <li><a href="{{ url_for('atlas') }}"><span class="glyphicon glyphicon-map-marker"></span> Atlas </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-book"></span> Reference</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p class="text-muted"><span class="glyphicon glyphicon-copyright-mark"></span>Woolfson Group 2016</p>
  </div>
</footer>



</body>

</html>